.card {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 400px;
    min-width: 250px;
    max-width: 600px;

    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: none;
    border: none;

    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;

    h2, h3, p, span {
        margin: 0;
        line-height: 1;
    }

    p {
        font-weight: 500;
    }

    sup {
        top: -3.5px;
        margin-right: 1px;
    }

    .small {
        font-size: 70%;
    }
}