.resultCard {
    display: flex;
    flex-direction: row;
    gap: 14px;

    width: 100%;
    min-width: 250px;

    background: white;
    padding: 15px 15px 15px 10px;
    border-radius: 10px;
    box-shadow: none;
    border: none;

    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;


    .deptIcon {
        width: 90px;
    }

    .cardText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        width: 100%;

        h2,
        h3,
        p,
        span {
            margin: 0;
            line-height: 1;
            //color: #4e3111;
        }

        h2 {
            font-size: 26px;
        }

        p {
            font-weight: 500;
        }

        sup {
            top: -3.5px;
            margin-right: 1px;
        }

        .small {
            font-size: 70%;
        }

        .flex {
            width: 100%;
        }

        
    }

    .stockIndicator {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1px;
    
        padding: 3px 2px 1px 7px; 
        margin: 0;
        border-radius: 50px;
    
        font-size: 14px;
        font-weight: 900 !important;
        text-transform: uppercase;
        color: white;
    
        width: min-content;
        white-space: nowrap;

        span {
            font-size: 16px;
            transform: translateY(-.75px);
        }
    }
}

